.mainProductImage{
    height: 200px;
    width: 350px;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right:25vh;
}

.eachProductContainer{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 20px;
    border-bottom: 1px solid #061083;
    padding-bottom: 20px;
}