nav{
  background-color: #ff7f50;
  padding: 10px;
}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav ul li{
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  }

  nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  nav ul li a{
    text-decoration: none;
    color:#000000;
  }